body{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

ul,ol li{
    list-style-type: none;
}

ul> li> :last-child{
    font-style: italic;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #2d65ff;
    font-weight: 400;
}

.menu li{
    display: inline;
    padding: 35px;
    font-size: 20px;
    font-weight: bold;
    opacity: 1.0;
}

.menu{
    background-color: black;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 10px;
    padding-bottom: 20px;
    opacity: 0.6;
}


.menu img{
    width: 50px;
}

.estilo-imagem{
    border: solid 2px;
    border-radius: 240px;
    width: 500px;
}

.banner h1{
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    background-color: black;
    opacity: 0.6;
}

.banner p{
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}

.banner{
    padding-top: 130px;
    padding-bottom: 130px;
    text-align: center;
    background-image: url(../images/boloback.jfif);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

footer >div{
    justify-content: space-evenly;
    display: flex;
    background-color: rgb(238 180 34);
}

.container{
    display: flex;
    margin-top: 100px;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: row wrap;
}

.coberturaimg{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sobre-bolo{
    margin: 50px;
}

.lista-footer > div > ol > li:first-child{
font-weight: bold;
}